<div class="greeting">Enter a city, state to get the weather</div>
<div class="search_box">
  <form id="weather_search" onSubmit="return false">
      <input id="query" type="text" name="query">
      <input id="perform_search" type="submit" value="Search">
  </form>
</div>
<div id="display_result"></div>
