body {
  width: 400px;
}

.greeting {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

.search_box {
  text-align: center;
}
.search_box input {
  font-size: 16px;
}

.search_box #query {
  width: 75%;
}

#display_result {
  margin: 5px;
  margin-bottom: 10px;
  text-align: justify;
}

#display_result .core_data {
  margin: 10px 5px 10px 5px;
}

#display_result #map{
  width: 100%;
  height: 400px;
}
